<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vano Forgot Password</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">

    <style>
        @font-face {
            font-family: 'Futuram';
            font-style: normal;
            font-weight: 400;
            src: url('http://res.cloudinary.com/solabuddy/raw/upload/v1502058473/16020_FUTURAM_d4gnwk.ttf');
        }

        body {
            background: #f7f8f9;
            font-family: 'Nunito', sans-serif;
            padding: 0;
            margin: 0;
        }

        .wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .container {
            width: 300px;
            max-width: 100%;
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.25rem;
            box-shadow: 0 2px 4px 0 rgba(227, 232, 236, 0.5);
            min-height: 200px;
            border-radius: 4px;
            margin-top: -2rem;
        }

        .activate-btn {
            border: none;
            background: #4786FF;
            box-shadow: 0 2px 4px 0 rgba(106, 155, 250, 0.58);
            width: 100%;
            height: 47px;
            font-family: "Nunito", sans-serif;
            color: #fff;
            font-size: .8125rem;
            outline: none;
            cursor: pointer;
            margin-top: 1rem;
        }

        .title h1 {
            color: #45475C;
            line-height: 120%;
        }

        .title p {
            color: #45475C;
        }

        .banner {
            background: #4786FF;
            width: 100%;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .banner h1 {
            font-family: 'Futuram', sans-serif;
            color: #fff;
        }

        @media (max-width: 320px) {
            body {
                background: #fff;
            }
            .container {
                box-shadow: none;
            }
        }
    </style>
</head>

<body>
    <div class="banner">
        <h1>VANO</h1>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="title">
                <h1>You have requested to reset your password!</h1>
                <p>If you did not request this. Please contact us at support@threeaccents.com</p>
            </div>
            <div class="button">
                <a href="{{.URL}}/reset-password?id={{.Hash}}">
                    <button class="activate-btn">Reset Password</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>